body
{
background-image:url('../images/cute-twitter-backgrounds.jpg');
background-repeat:no-repeat;
color:white;
background-attachment: fixed 
}

#sname{ 
	color: 	660066; 
	font-size:200%; 
}

#stuff {font-weight: bold;
color:blue;
}
