h1#header{text-align:center;background-color:#635959; font-size:400%; font-family: "Times New Roman", Times, serif;color:#E5E4E2}
body.dez{background-color:#FFFFC2; color:#4FD0FF; font-size:120%}
p#tex{background-color:white;}
