
#sname{ color: white; font-size:150%;} 

body
{
background-image:url('../images/profile_background.jpg');
background-repeat:no-repeat;
}

#sname{ color:white; font-size:200%;}


} 

input{
	border-radius: 8px;
}


