
div#signup
{
	float:right;
}
input{
	border-radius: 5px;
}

<<<<<<< HEAD
div#SignUp
{
	color:black;
	font-weight:bold
	
}


=======
p#signUp
	{
	font-weight:bold;color:black;
	}

p1#login{
	font-weight:bold;color:black;
	}


body { 
  background: url(../images/rsz_1logo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
>>>>>>> 6a335cd56b4e0c78552190fcdf3bc4b66a5a40a8
