{% extends 'music/base.html' %}

{% block title %}

Add Song

{% endblock %}

{% block headers %}

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/addsongs.css">

{% endblock %}

{% block content %}
<form action="/addsong/" method="post" id="addsong">

{% csrf_token %}
<table>
<tr><td>Song name:</td><td> <input type="text" name="songname"/></td></tr>
<tr><td>Artist:</td><td> <input type="text" name="artist"/></td></tr>
<tr><td>Album:</td><td> <input type="text" name="album"/></td></tr>
<tr><td>Genre:</td><td> <select form="addsong" name="genre"/>
{% for genre in genres %}
<option>{{genre.name}}</option>
{% endfor %}
</select></td></tr>
<tr><td>Youtube link:</td><td> <input type="text" name="link"/></td></tr>
<tr><td><input type="submit" value="Add song" /></td></tr>
</table>
</form>
{% endblock %}
