<html>
	<head>

		<title>{% block title %}{% endblock %}</title>

		//<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">\\
   		{% block headers %}

   		{% endblock %}

	</head>

		<body>

		<span>
		<form action="/profile/" method="post">
		{% csrf_token %}
			<input id = "test" type="submit" value="Profile"/>
		</form>
		<form action="/showaddsong/" method="post">
		{% csrf_token %}
			<input type="submit" value="Add Song"/>
		</form>
		<form action="/showaddartist/" method="post">
		{% csrf_token %}
			<input type="submit" value="Add Artist"/>
		</form>
			<input type="submit" value="friends"/>
			<input type="submit" value="Albums"/>
			<input type="submit" value="Singers"/>
			<input type="submit" value="categories"/>
			<input type="submit" value="News"/>
			<input type="submit" value="Top Music"/>
		<form action="/logout/" method="post">
		{% csrf_token %}
			<input type="submit" value="logout"/>
		</form>

   		</span>
</body>
	</head>

   		{% block content %}

   

   {% endblock %}

</html>
