<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/signup.css" />
	</head>
		<h1><center>This text will be center-aligned.</center>Taste</h1>
    <body>
    	<div id="signup">
		<form action="submitsignup" method="post">
{% csrf_token %}
        		<input type="email" name="user[email]" placeholder="Email" id="signup_email" data-required="required"/>
    			<br>
        		<input type="password" name="user[password]" placeholder="Password" id="signup_password" data-required="required"/>
    			<br>
<input type="text" name="tumblelog[name]" class="signup_username" placeholder="Username" id="signup_username" maxlength="32" autocorrect="off" autocapitalize="off"/><br>
<input type="text" name="firstname" class="signup_username" placeholder="First Name" id="signup_username" maxlength="32" autocorrect="off" autocapitalize="off"/><br>
<input type="text" name="lastname" class="signup_username" placeholder="Last Name" id="signup_username" maxlength="32" autocorrect="off" autocapitalize="off"/><br>
			<input type="radio" name="sex" value="male">Male<br>
			<input type="radio" name="sex" value="female">Female<br>
			<select>
  				<option value="Day"></option>
			</select>
 			<select>
				<option value="Month">Saab</option>
  			</select>
			<select>
				<option value="Year">Opel</option>
			</select>
<br>
<input type="submit" value="Sign Up"/>
  				
        	</form>
 	</div>
	<div id= login>
		<form action="submitlogin" method="post">
{% csrf_token %}
			<input type="email" name="user[email]" placeholder="Email" id="signup_email" data-required="required">
			<br>
			<input type="password" name="user[password]" placeholder="Password" id="signup_password" data-required="required">
			<br>
    			<input type="submit" value="Log in"/>
		</form>
    	</div>
    </body>
</html>
